:root
{font-family: 'Berlin Sans FB'; color: rgb(55,52,53); font-size: 14px
}



#footer a{
    text-decoration: none;
    color: inherit;
    
}
#footer a:hover {
    color: gray;
    text-decoration: none;
    background-color: transparent;
}
#footer 
{
    background: rgb(1,35,64);
    background: linear-gradient(90deg, rgba(1,35,64,1) 0%, rgba(38,117,166,1) 51%, rgba(217,217,217,1) 100%);
    color: #fff;
    
}


#imageDesignar
{
    
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#imageDesignar:hover {
	opacity: .5;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    object-position: center; 
    
}

#carousel
{
    position: relative;
}

#carousel .overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: aliceblue;

}

#textoDescriptivo 
{
    background-color: rgba(0,0,0,0.5);
}

#carousel .overlay .container,
#carousel .overlay .row 
{
   height: 100%;
   z-index: 1;
}

a.btn.btn-primary {

    background-color: #012340;
    border:1px solid #000;
}

a.btn.btn-primary:hover {
    background-color: #000;
    border:1px solid #000;
}

button.btn.btn-primary {

    background-color: #2173A6;
    border:1px solid #2173A6;
}

.tooltip-inner {
    background-color: #012340!important;
    color: #fff ;
}

.bs-tooltip-bottom .arrow::before, 
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: green !important;
}

button.btn.btn-primary:hover {
    background-color: #012340;
    border:1px solid #000;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    background-color: #fafafa;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    height: 50px;
    width: 50px;
    border: 6px solid #fafafa;
    border-top-color: #012340;
    border-bottom-color: #012340;
    border-radius: 100%;
    animation: loading 1.5s infinite linear;
  }